body {
  padding: 0;
  margin: 0;
  font-family: "Kadwa", "serif";
  background: url(./assets/bg_masked_compressed.jpg) no-repeat center center
    fixed;
  background-size: cover;
}

/* Navbar Form CSS */

.navbarBrand {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 2rem;
  font-size: 1.5rem !important;
}

.navLinks_div {
  display: flex;
  justify-content: flex-end !important;
  margin-right: 2rem;
}

.nav_items {
  color: #ffffff !important;
  font-size: 1rem;
}
.nav_items1 {
  margin-top: 0.5rem;
  text-decoration: none;
}

/* Mesurment Form CSS */

header {
  background-color: #2c2d31;
  padding: 0.3em 0.2em;
  color: gold;
  text-align: center;
  font-size: 2em;
}

.form_div {
  background: url(./assets/bg_masked_compressed.jpg) no-repeat center center
    fixed;
  background-size: cover;
}

.form h4 {
  font-size: 1.8em;
  text-align: center;
  color: gold;
  margin-top: 2rem;
}

.form input {
  font-size: 6em;
  color: #ffffff;
}

.shirt-measurements h4 {
  font-size: 1.8em;
  color: gold;
  text-align: center;
  columns: #202020;
  padding-bottom: 1.5rem;
}

.pant-measurements p {
  font-size: 1.8em;
  text-align: center;
  color: #ffffff;
}
.pant-measurements h4 {
  font-size: 1.8em;
  color: gold;
  text-align: center;
  columns: #202020;
  padding-bottom: 1.5rem;
}
.input-row {
  padding: 1em;
  margin: 1em;
  border: 1px groove black;
  border-radius: 10px;
  font-size: 1.2em;
  color: white;
}
.input-row div {
  display: block;
}

.shirt-measurements {
  padding: 0.4em;
  margin: 1em;
  border: 1px groove black;
  border-radius: 10px;
  font-size: 1.2em;
  color: white;
}

.pant-measurements {
  padding: 0.4em;
  margin: 1em;
  border: 1px groove black;
  border-radius: 10px;
  font-size: 1.2em;
  color: white;
}

label {
  color: white !important   ;
}

.save_btn {
  text-align: center;
  color: #ffffff;
  background-color: #202020;
  margin: 1em auto;
  display: block;
  border: none;
  padding: 1em 3em;
  border-radius: 0.4em;
}

.save_btn:hover {
  background-color: #fff;
  color: #202020;
}

.icon {
  color: #fff;
}

h6 {
  margin-bottom: 1.5rem !important;
}

/* Gallary CSS */

.gallary_div {
  margin-top: 2rem !important;
  /* -webkit-column-count: 3 !important;
  -moz-column-count: 3 !important;
  column-count: 3 !important;
  -webkit-column-width: 33% !important;
  -moz-column-width: 33% !important;
  column-width: 33% !important;
  padding: 0 12px !important; */
}

.img_col {
  margin-top: 2rem !important;
  /* -webkit-transition: all 350ms ease; */
}

/* Modal CSS */

.img_o {
  display: block;
  height: 90%;
  width: 150%;
  align-items: center;
}
.modal .modal-content {
  padding: 0px;
}

/* New Img Galary CSS star here */

.img_f {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img_grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  padding: 1rem;
  background-color: #fff;
}

/* Contact Page CSS */

.section-header {
  text-align: center;
  padding: 40px 0;
  color: gold;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
  color: #fff;
}
/* Left contact page */

.form-horizontal {
  max-width: 400px;
  font-weight: 400;
  color: #fff;
}

.send-button {
  margin-top: 25px;
  height: 34px;
  width: 400px;
}

.form-control {
  max-width: 400px;
  color: #fff !important;
  letter-spacing: 1px;
}

.text_area {
  color: #000 !important;
  background-color: #fff;
}

textarea {
  width: 400px;
  height: 170px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #202020;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #202020;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #202020;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #202020;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #202020;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #202020;
}
/* Begin Right Contact Page */

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  margin-left: 62px;
  padding: 0.5rem;
  white-space: nowrap;
}
.icons {
  margin: 0.8rem;
}

.split {
  display: flex;
  margin-left: 7rem;
}

.socialIcons > * + * {
  margin-left: 2rem;
}

.insta-ic {
  font-size: 2.2rem;
}

.fb-ic {
  font-size: 2.6rem;
}
.email-ic {
  font-size: 2.7rem;
}
.gmailIcon:hover,
.instaIcon:hover,
.fbIcons:hover {
  cursor: pointer;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  margin-left: 62px;
  margin-top: 2rem;
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
    margin-left: 25%;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
    margin-left: -2.5 rem;
  }
  .social-media-list {
    left: 0;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

@media (max-width: 768px) {
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
    margin-left: -2.5 rem;
  }
}
